/* color variable start */
/* color variable end */
/* importfont */
@import url("css2.css");
/* importfont end */
/* typography */
* {
  margin: 0;
  padding: 0; }

body {
  background: #191A19;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fafafa;
  line-height: 27px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff; }

h1 {
  font-size: 60px;
  font-weight: 600; }

h2 {
  font-size: 43px;
  font-weight: 600; }
  h2 span {
    color: #ff7420; }

h3 {
  font-size: 30px;
  font-weight: 500; }

h4 {
  font-size: 24px;
  font-weight: 500; }

h5 {
  font-size: 24px;
  font-weight: 500; }

h6 {
  font-size: 20px;
  font-weight: 600; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  color: #ff7420; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

/* typography end */
/* loader */
.spinner5 .cube1,
.spinner5 .cube2 {
  background-color: #ff7420; }

/* loaderend */
/* button */
.button {
  background: #ff7420;
  padding: 10px 29px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  color: #fefefe;
  font-weight: 500;
  transition: 0.5s; }

.button:hover {
  background: #fb9355; }

/* button end */
/* navbar */
.navbar {
  padding: 10px 0;
  background: #191A19; }
  .navbar .navbar-brand {
    width: 143px; }
  .navbar .navbar-nav {
    margin: 0 auto; }
    .navbar .navbar-nav .nav-item {
      margin: 0 15px;
      font-weight: 500; }
      .navbar .navbar-nav .nav-item .nav-link {
        color: #ffffff; }
      .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #ff7420; }
    .navbar .navbar-nav .dropdown-menu {
      border-radius: 0; }
    .navbar .navbar-nav .dropdown-item:hover,
    .navbar .navbar-nav .dropdown-item:focus {
      background: #ff7420;
      color: #fff; }
    .navbar .navbar-nav .dropdown-toggle::after {
      display: none; }
    .navbar .navbar-nav .dropdown:hover > .dropdown-menu {
      display: block; }
    .navbar .navbar-nav .dropdown > .dropdown-toggle:active {
      pointer-events: none; }
  .navbar .navbar-toggler {
    border: transparent; }
    .navbar .navbar-toggler i {
      color: #ff7420;
      font-size: 30px;
      text-align: center; }
    .navbar .navbar-toggler .open {
      position: relative;
      right: -12px; }
    .navbar .navbar-toggler .close {
      display: none;
      position: relative;
      right: -9px; }
  .navbar .navbar-toggler:focus {
    box-shadow: none; }
  .navbar .navbar-toggler:not(.collapsed) > .open {
    display: none; }
  .navbar .navbar-toggler:not(.collapsed) > .close {
    display: inline-block; }

.shrink {
  padding: 12px 0;
  box-shadow: 0px 1px 4px 0px #005e71; }

/* navbar end */
/* header */
.header {
  padding: 300px 0 100px 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)), url(../image/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top; }
  .header .content {
    margin-right: 20px; }
    .header .content h1 {
      margin-bottom: 18px; }
    .header .content span {
      color: #ff7420; }
    .header .content .button {
      margin-top: 24px;
      margin-right: 18px; }
    .header .content .button-2 {
      background: #ffffff;
      color: #191A19; }
    .header .content .button-2:hover {
      background: #fb9355; }

.header-page {
  padding: 250px 0 180px 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header-page.png);
  background-size: cover;
  background-position: top center; }
  .header-page h1 {
    color: #fafafa;
    margin-bottom: 22px; }
  .header-page nav ol li {
    margin-right: 13px;
    font-size: 24px;
    font-weight: 600; }
    .header-page nav ol li a {
      color: #fafafa; }
    .header-page nav ol li i {
      color: #fafafa; }
    .header-page nav ol li a:hover {
      color: #ff7420; }
  .header-page nav ol .active {
    color: #ff7420; }

/* header end */
/* experience start */
.experience {
  padding: 42px 0 0 0;
  position: relative; }
  .experience .counter .counter-text {
    padding: 0 10px; }
    .experience .counter .counter-text h3 {
      color: #ff7420;
      margin-right: 10px; }
  .experience .quality {
    padding: 30px 20px;
    background: #ff7420;
    border-radius: 15px;
    position: absolute;
    top: -80px;
    right: 130px; }
    .experience .quality ul li {
      margin-bottom: 10px; }
      .experience .quality ul li i {
        font-size: 12px;
        text-align: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        color: #ff7420;
        background: #ffffff;
        line-height: 26px;
        margin-right: 8px; }

/* experience end */
/* about start */
.about {
  padding: 100px 0 80px 0;
  background-image: url(../image/about.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center left; }
  .about .content .signature {
    width: 100px; }
  .about .content h2 {
    line-height: 64px; }

/* about end */
/* .process start */
.process {
  padding: 80px 0 0 0;
  background: #ff7420; }
  .process .content {
    margin-bottom: 30px; }
    .process .content h5 {
      padding: 0 20px; }
  .process .divider .line .ellipse {
    position: relative;
    bottom: 28px; }
    .process .divider .line .ellipse .one {
      width: 35px; }
    .process .divider .line .ellipse .two {
      width: 19px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

/* .process end */
/* services */
.services {
  padding: 70px 0 70px 0; }
  .services h4 {
    color: #2389da; }
  .services h2 {
    margin-bottom: 30px; }
  .services .content img {
    width: 100px;
    margin-bottom: 10px;
    transition: 1s; }
  .services .content:hover img {
    transform: rotateY(360deg); }

.services-page {
  background: #ff7420; }

/* services end */
/* project start */
.project {
  padding: 30px 0 80px 0;
  background: #ff7420; }
  .project .heading h2 {
    color: #191A19;
    margin: 0 0 50px 98px; }
  .project .gallery-carousel {
    position: relative;
    padding-left: 50px;
    left: 50px; }
    .project .gallery-carousel .owl-carousel {
      position: relative; }
      .project .gallery-carousel .owl-carousel .owl-nav {
        font-size: 20px;
        position: absolute;
        top: -90px;
        left: 26%; }
        .project .gallery-carousel .owl-carousel .owl-nav .owl-prev {
          margin-right: 10px; }

/* project end */
/* testimoni */
.testimoni {
  padding: 80px 0 60px 0; }
  .testimoni h2 {
    margin-bottom: 20px;
    text-align: center; }
  .testimoni .content img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ff7420; }
  .testimoni .content .owl-carousel .card {
    border-radius: 0;
    padding: 16px 24px;
    background: #191A19;
    border: none; }
    .testimoni .content .owl-carousel .card .card-body {
      padding: 0px 15%;
      margin-bottom: 18px; }
      .testimoni .content .owl-carousel .card .card-body p {
        color: #ffffff; }
      .testimoni .content .owl-carousel .card .card-body h6 {
        margin-top: 14px; }
      .testimoni .content .owl-carousel .card .card-body span {
        color: #ffffff; }
  .testimoni .content .owl-carousel .owl-dots {
    display: none; }

.testimoni-page {
  padding: 50px 0 56px 0;
  background: #ff7420; }
  .testimoni-page h2 span {
    color: #ffffff; }
  .testimoni-page .content img {
    border: 3px solid #191A19; }
  .testimoni-page .content .owl-carousel .card {
    background: #ff7420; }

/* testimoni end */
/* team start*/
.team {
  padding: 0 0 60px 0; }
  .team h2 {
    margin-bottom: 30px; }
  .team .content {
    margin-bottom: 50px; }
    .team .content .card-text h4,
    .team .content .card-text h6 {
      margin-bottom: 20px; }
    .team .content .card-text ul li {
      margin: 0 10px; }
      .team .content .card-text ul li i {
        font-size: 26px;
        color: #fff;
        transition: 1s; }
      .team .content .card-text ul li i:hover {
        color: #ff7420; }
    .team .content .card-text ul li:first-child {
      margin-left: 0; }

.team-page {
  padding: 80px 0 0 0; }

.team-page1 {
  padding: 80px 0; }

.team-page2 {
  background: #ff7420; }
  .team-page2 .content .card-text ul li i:hover {
    color: #191A19; }

/* team end */
/* contact */
.contact {
  padding: 80px 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/bg-contact.png); }
  .contact h2 {
    text-align: center;
    margin-bottom: 20px; }
  .contact .features {
    padding: 40px 0; }
    .contact .features .content {
      margin-bottom: 10px; }
      .contact .features .content i {
        font-size: 16px;
        text-align: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        color: #ff7420;
        background: #ffffff;
        line-height: 26px;
        margin-right: 8px; }
  .contact .contact-form {
    background: #ff7420;
    padding: 20px 20px;
    border-radius: 15px; }
    .contact .contact-form h3 {
      margin-bottom: 20px; }
    .contact .contact-form .button {
      margin-top: 10px;
      width: 100%;
      background: #191A19; }
  .contact .contact-info {
    background: #ff7420;
    padding: 16px 20px;
    border-radius: 15px; }
    .contact .contact-info h3 {
      margin-bottom: 20px; }
    .contact .contact-info .button {
      margin-top: 10px;
      width: 100%;
      background: #191A19; }
    .contact .contact-info .location,
    .contact .contact-info .quick-contact,
    .contact .contact-info .opening-hours {
      margin-bottom: 19px; }

/* form start */
form input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #14a800;
  border-radius: 15px;
  padding-left: 10px; }
form input:focus {
  outline: none;
  box-shadow: none; }
form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #14a800;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 0 0 10px; }
form textarea:focus {
  outline: none;
  box-shadow: none; }

/* form end */
/* map */
.map .content iframe {
  width: 100%;
  float: right; }

/* map end */
/* contact end */
/* blog */
.blog {
  padding: 80px 0 0 0; }
  .blog .article {
    margin: 20px 0; }
    .blog .article .article-image {
      margin-right: 20px; }
      .blog .article .article-image img {
        transition: opacity 0.75s;
        margin-bottom: 18px; }
      .blog .article .article-image img:hover {
        opacity: 0.5; }
    .blog .article .article-content a h4:hover {
      color: #ff7420; }
    .blog .article .article-content ul {
      margin-bottom: 20px; }
      .blog .article .article-content ul li {
        margin-right: 20px;
        font-weight: 600;
        font-size: 14px;
        color: #ff7420; }
        .blog .article .article-content ul li i {
          margin-right: 4px; }
    .blog .article .details {
      margin: 0;
      margin-bottom: 20px; }
    .blog .article figure {
      background: #ff7420;
      font-style: italic;
      padding: 20px 20px; }
      .blog .article figure .blockquote {
        color: #ffffff; }
      .blog .article figure .blockquote-footer {
        margin: 20px 0;
        color: #ffffff; }
    .blog .article .share .social {
      margin-left: 10px; }
      .blog .article .share .social li {
        margin-right: 12px; }
        .blog .article .share .social li i {
          font-size: 24px;
          margin-right: 10px;
          color: #ffffff; }
        .blog .article .share .social li i:hover {
          color: #ff7420; }
    .blog .article .comment h3 {
      margin-bottom: 30px; }
    .blog .article .comment .card {
      border: none;
      background: none;
      flex-direction: row;
      margin-bottom: 20px; }
      .blog .article .comment .card .hero-testimoni img {
        width: 70px;
        border-radius: 50%;
        margin-right: 20px; }
      .blog .article .comment .card .card-body span {
        font-weight: 600;
        color: #ffffff; }
      .blog .article .comment .card .card-body h6,
      .blog .article .comment .card .card-body p {
        color: #ffffff; }
      .blog .article .comment .card .card-body p {
        margin-top: 20px; }
    .blog .article .form-comment form .form-label {
      display: none; }
    .blog .article .form-comment form .form-control {
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: 1px solid #14a800;
      border-radius: 0; }
    .blog .article .form-comment form .form-control,
    .blog .article .form-comment form .form-select:focus {
      box-shadow: none; }
    .blog .article .form-comment form .form-control::placeholder {
      color: #414241; }
    .blog .article .form-comment form .input-wrap {
      margin-bottom: 20px; }
  .blog .pagination-div {
    margin-top: 40px; }
    .blog .pagination-div .pagination .page-item {
      margin: 0 10px; }
      .blog .pagination-div .pagination .page-item .page-link {
        font-size: 16px;
        color: #191A19; }
      .blog .pagination-div .pagination .page-item a:hover {
        background: #ff7420;
        color: #ffffff; }
    .blog .pagination-div .pagination .left {
      margin-left: 0; }
    .blog .pagination-div .pagination .page-link.active,
    .blog .pagination-div .pagination .active > .page-link {
      background: #ff7420;
      color: #fafafa;
      border: none;
      cursor: default; }

.blog-right {
  box-shadow: 2px 5px 10px 0px black;
  padding: 10px 20px; }
  .blog-right .search {
    margin-bottom: 40px; }
    .blog-right .search h3 {
      margin-bottom: 30px; }
    .blog-right .search .input-group .form-control,
    .blog-right .search .input-group .input-group-text {
      border-radius: 5px; }
    .blog-right .search .input-group .form-control,
    .blog-right .search .input-group .input-group-text:focus {
      box-shadow: none; }
    .blog-right .search .input-group .form-control::placeholder {
      color: #ffffff; }
    .blog-right .search .input-group .input-group-text {
      margin-bottom: 0;
      color: #ffffff; }
  .blog-right .categories {
    margin-bottom: 40px; }
    .blog-right .categories h3 {
      margin-bottom: 30px; }
    .blog-right .categories ul li {
      margin-bottom: 10px; }
      .blog-right .categories ul li a {
        color: #ffffff;
        font-weight: 700; }
      .blog-right .categories ul li a:hover {
        color: #ff7420; }
      .blog-right .categories ul li span {
        margin-left: 10px; }
  .blog-right .small-blog {
    margin-bottom: 30px; }
    .blog-right .small-blog h3 {
      margin-bottom: 30px; }
    .blog-right .small-blog .article .article-image img {
      width: 110px; }
    .blog-right .small-blog .article .article-content a h6:hover {
      color: #ff7420; }
    .blog-right .small-blog .article .article-content ul li i {
      margin-right: 10px; }

/* blog end */
/* footer */
.footer {
  padding: 80px 0;
  clear: both; }
  .footer .heading {
    margin-bottom: 50px; }
    .footer .heading img {
      width: 162px; }
    .footer .heading .subcribe {
      position: relative; }
      .footer .heading .subcribe .input-group span {
        background: #191A19;
        border: none;
        border-radius: 0;
        background: #191A19;
        color: #ffffff; }
      .footer .heading .subcribe .input-group input {
        background: #191A19;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        background: #191A19;
        color: #ffffff;
        padding: 0 0 0 10px; }
      .footer .heading .subcribe .input-group input:focus {
        outline: none;
        box-shadow: none; }
      .footer .heading .subcribe .input-group input::placeholder {
        color: #ffffff; }
      .footer .heading .subcribe .input-group i {
        position: absolute;
        bottom: 14px;
        right: 4px; }
  .footer .content h5 {
    margin-bottom: 22px; }
  .footer .content ul li {
    margin: 10px 0; }
    .footer .content ul li a {
      font-weight: 600; }
    .footer .content ul li i {
      margin: 0 10px;
      font-size: 26px; }
    .footer .content ul li i:hover {
      color: #ff7420; }

/* footer end */

/*# sourceMappingURL=style.css.map */
